# dependencies
node_modules
.pnp
.pnp.js

# next
.next/
out/
build

# env
.env*.local
.env

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# misc
.DS_Store
*.pem
.vercel
next-env.d.ts
.tsbuildinfo
